<!DOCTYPE html>
<html>
  <head>
    <title>Fortune Teller</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <nav>
      <table border="1">
        <tr>
          <th>Lottery</th>
          <td>Lucky numbers</td>
          <td>Unlucky numbers</td>
        <tr>

        <tr>
          <th>Horoscopes</th>
          <td><a href="/zodiacs/aries">Aries</a></td>
          <td><a href="/zodiacs/taurus">Taurus</a></td>
          <td><a href="/zodiacs/gemini">Gemini</a></td>
          <td><a href="/zodiacs/cancer">Cancer</a></td>
          <td><a href="/zodiacs/leo">Leo</a></td>
          <td><a href="/zodiacs/virgo">Virgo</a></td>
          <td><a href="/zodiacs/libra">Libra</a></td>
          <td><a href="/zodiacs/scorpio">Scorpio</a></td>
          <td><a href="/zodiacs/sagittarius">Sagittarius</a></td>
          <td><a href="/zodiacs/capricorn">Capricorn</a></td>
          <td><a href="/zodiacs/aquarius">Aquarius</a></td>
          <td><a href="/zodiacs/pisces">Pisces</a></td>
        </tr>
      </table>
    </nav>

    <%= yield %>

  </body>
</html>
